.MoRTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border: 1px solid black;
  border-left: 0;
  padding: 15px;
}

.pad-0 {
  padding: 0 !important;
}

/* Other Stuff */

* {
  box-sizing: border-box;
}

.row {
  margin-left:20px;
  margin-right:0px;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 5px solid #000000;
}

.MoR {
  padding: 0px;
}

.LmCCellStuff {
  padding: 8px;
}

button:not(:is(.freeButton, .freeButtonPersist)) {
  border: 0;
  padding: 5px 3px;
  height: 100%;
  width: 100%;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard-table th,
#leaderboard-table td {
    border: 1px solid #000000;
    padding: 6px 10px;
    text-align: center;
}

#leaderboard-tabs {
    margin-bottom: 10px;
}

.lb-tab {
    margin-right: 5px;
}

.lb-tab.active {
    font-weight: bold;
    text-decoration: underline;
}

#leaderboard-page-buttons {
    margin-top: 10px;
    text-align: center;
}

#leaderboard-refresh-div {
    margin-top: 10px;
    text-align: center;
}